<h2>Create A New Entry: </h2> 

<form class="" action="/option_entries" method="post">
  <label for="ticker">Ticker</label></br>
  <input type="text" name="ticker" value=""></br>
  <label for="option_type">Option Type</label></br>
  <input type="text" name="option_type" value=""></br>
  <label for="profit_or_loss">Profit/Loss</label></br>
  $<input type="text" name="profit_or_loss" value=""></br>
  <input type="submit" name="" value="Create Option Entry">
</form>